<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.northwinds.amsatstatus">

    <application>
        <activity
            android:name=".testing.HiltFragmentScenario$HiltEmptyFragmentActivity"
            android:theme="@style/FragmentScenarioEmptyFragmentActivityTheme"
            android:taskAffinity=""
            android:multiprocess="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
